#vertical_center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%
}

#navbar-footer {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    background: rgba(130, 130, 130, 0.25);
    height: 8%;
}

.a-nav {
    font-size: 2em;
    text-decoration: none;
}

.a-nav-1 {
    font-size: 2em;
    text-decoration: none;
    margin-left: 50px;
}

.wrap {
    margin-bottom: 80px;
}

.slideShine {
    width: 100%;
    font-size: 60px;
    text-align: left;
    background: #636060 -webkit-linear-gradient(left, #636060, #fff) 0 0 no-repeat;
    -webkit-background-size: 120px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0.2);
    -webkit-animation: slideShine 4s infinite;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
@-webkit-keyframes slideShine {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.slideShine_b {
    text-align: right;
    background: #636060 -webkit-linear-gradient(left, #636060, #e6ec7e, #fff, #fff, #e6ec7e, #636060) 0 0 no-repeat;
    -webkit-background-size: 60px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0.2);
    -webkit-animation: slideShine 2s infinite;

}
@-webkit-keyframes slideShine_b {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}